---
title: Kenneth C. Wedding Photography
---

<div class="banner-wrapper">
  <div class="welcome text-center padded">
    <h1>Kenneth C. Wedding Photography</h1>
    <p class="doc">
      <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
    </p>
  </div>
</div>
